<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaConnect</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <div class="container mx-auto h-screen flex justify-center items-center">
        <div class="max-w-md w-full mx-auto">
            <img src="../../static/image/lingua.png">
            <h1 class="text-3xl text-center text-gray-900 mb-8">Welcome to LinguaConnect</h1>
            <p class="text-center text-gray-700">Your go-to platform for language learning and connection.</p>
        </div>
    </div>

</body>
</html>
